<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>技能</title>
    <link rel="stylesheet" type="text/css" href="/static/css/person/skill_photo.css"/>
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
    <ul>
        {% for skill_url in skill_urls %}
            <li><img src={{ skill_url }} width=800></li>
        {% endfor %}
        <li>
            <form action="/person/add_skill_photo/", method="post", enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ person.id }}">
                <label for="skill_photo">添加图片</label><input type="file" name="skill_photo" required><br>
                <input type="submit" value="添加">
            </form>
        </li>
    </ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<script src="/static/js/jquery.lazyload.min.js"></script>
<script>
    $(function() {
    $("img").lazyload({
        threshold : 200,
        effect : "fadeIn"
});
});
</script>
</body>
</html>